* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: antiquewhite;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li {
display: inline;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
margin-left: 16PX;
}
header li a {
color: antiquewhite;
text-decoration: none;
}
.container {
width: 1024;
margin: 0 auto;    
}
.articles {
display: flex;
flex-wrap: wrap;
justify-content:space-between ;
}

.articles article img {
/* height: 180px; */
will-change: 100%;

}

.articles article {
width: 30%;
}    

section {
padding: 16px 0;
}    
section h2
.aticles article {
margin-bottom: 16px;
}
.articles article h3 {
margin-top: 16px;
margin-bottom: 8px;
}
.articles article a {
background-color: rgb(96, 26, 235);
color: white;
padding: 8px;
display: inline-block;
text-decoration: none;
font-weight: bold;
margin-top: 8px;
}
.articles article a:hover {
text-decoration: underline
}
}
.articles article p,
.articles article a {
font-family: Arial, Helvetica, sans-serif;
}
.articles article h3 {
font-size: 24px;
}
section h2 {
font-size: 32px;
}

.sports {
background-color: rgb(206, 230, 206);
}
.sports .articles article a {
background-color: chartreuse;
color: white;
}
.economy {
background-color: yellow;
}
.economy .articles article a {
background-color: chocolate;
}
.entreterimento {
background-color: rgb(190, 153, 208)
}
.entreterimento .articles article a {
background-color: rgb(44, 35, 29);
}
.tecnology {
background-color: rgb(232, 115, 167);
}
.tecnology .articles article a {
background-color: rgb(225, 14, 14);